/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

/* Slider Styles */
.slider {
  margin: 20px 0;
  padding: 40px 0;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  mask-image: linear-gradient(to right, transparent 20%, #000, transparent 80%);
}

.list {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.item {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(1);
  transition: filter 2s ease-in-out;
}

.item.chosen .logo {
  filter: grayscale(0);
}

.item.chosen {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(135, 141, 93, 0.9);
  transition: box-shadow 2s ease-in-out, transform 2s ease-in-out;
}

.promise-section {
  margin: 0;
}

.container {
  padding-top: 0;
}