.sliders {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 50vh;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.slide.active {
  opacity: 1;
}

.full-width-img,
.full-width-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-width-img-container {
  position: relative;
  width: 100vw;
  height: 50vh;
}

.fixed-size-svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed-size-svg-container {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  top: 85%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: auto;
  max-width: 135px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

.button:hover {
  transform: translate(-50%, -55%) scale(1.05);
  box-shadow: 0 8px 15px rgba(135, 141, 93, 0.7);
}

.bullet-container {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 0.5rem;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-bottom: 0.5rem;
}

.bullet.active {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .bullet-container {
    display: none;
  }
  .button {
    display: none;
  }
  .slide-container {
    height: 50vh;
  }
  .slide {
    height: 50vh;
  }
  .fixed-size-svg-container {
    width: 100%;
    height: 50vh;
  }
  .fixed-size-svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
